
<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">GameLogo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <ng-container *ngIf="!user">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
                </li>
            </ng-container>

            <ng-container *ngIf="user">
                <li class="nav-item" >
                    <a class="nav-link" href="/logout" routerLinkActive="active" (click)="onLogout($event)">Logout</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/online" routerLinkActive="active" >Online List</a>
                </li>
              <li class="nav-item" >
                <span class="nav-link text-danger">{{user.name}}</span>
              </li>
            </ng-container>


        </ul>

    </div>
</nav>
