mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.example-container {
  /*width: 500px;*/
  height: 100%;
  /*margin: 12px;*/
}

mat-drawer {
  background: #ddd;
  width: 300px;
}

.user-row:hover{
  color: red;
}

.mat-drawer-container
{
  background: transparent !important;
}
